<mat-toolbar class="toolbar-bg">
  <span class="toolbar-buttons-wrapper">
    <button (click)="navigateHome()" class="toolbar-btns" mat-flat-button>Home</button>
    <button (click)="navigateAbout()" class="toolbar-btns" mat-flat-button>About</button>
    <button (click)="navigatePortfolio()" class="toolbar-btns" mat-flat-button>Portfolio</button>
    <button (click)="navigateExperience()" class="toolbar-btns" mat-flat-button>Experience</button>
    <button (click)="navigateBlog()" class="toolbar-btns" mat-flat-button>Blogs</button>
  </span>
</mat-toolbar>
