@use "@angular/material" as mat;

:root {
  --white-color: #ffffff;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.home-parent-wrapper {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  width: 35%;
  @include mat.card-overrides(
    (
      elevated-container-color: --white-color,
      elevated-container-elevation: none,
    )
  );
}

.image-wrapper {
  width: 30%;
  margin-top: 7%;
}

.prof-img {
  width: 100%;
  border-radius: 8px;
}

.title {
  letter-spacing: 4px;
  font-weight: bolder;
  font-size: 39px;
  line-height: 1.5;
  font-family: "Work Sans", sans-serif;
  color: #341338;
  margin-top: 15%;
}

.content {
  font-weight: 400;
  line-height: 2;
}

.contact-btn {
  margin-top: 45px;
  width: 35%;
}

@media (max-width: 1024px) and (min-width: 600px) {
  .home-parent-wrapper {
    flex-direction: column;
    height: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }

  .card-wrapper,
  .image-wrapper {
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
    padding: 0 20px;
  }

  .image-wrapper {
    margin-top: 10px;
  }

  .prof-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .contact-btn {
    width: auto;
    max-width: 200px;
    margin: 20px auto;
  }

  .title {
    font-size: 32px;
    text-align: center;
  }

  .content {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
  }
}

@media (max-width: 600px) {
  .home-parent-wrapper {
    flex-direction: column;
    height: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }

  .card-wrapper,
  .image-wrapper {
    width: 95%;
    max-width: 600px;
    margin: 10px auto;
    padding: 0 20px;
  }

  .image-wrapper {
    margin-top: 10px;
  }

  .prof-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .contact-btn {
    width: auto;
    max-width: 200px;
    margin: 20px auto;
  }

  .title {
    font-size: 28px;
    text-align: center;
  }

  .content {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
  }
}
