<div class="home-parent-wrapper">
  <mat-card class="card-wrapper">
    <mat-card-header>
      <mat-card-title class="title"
        >Hello, I'm <br />
        Grace Nalon</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <p class="content">
        Frontend-focused developer specializing in Angular and TypeScript, with
        hands-on experience building scalable solutions across the stack using
        NestJS. I prioritize clean architecture, performance optimization, and
        seamless collaboration between UX and backend systems.
      </p>
    </mat-card-content>
    <button class="contact-btn" (click)="contactForm()" mat-flat-button>Contact Me</button>
  </mat-card>
  <div class="image-wrapper">
    <mat-card class="image-card">
      <img mat-card-image class="prof-img" src="my-prof-img.jpg" alt="My Image" />
    </mat-card>
  </div>
  
</div>

